{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  // "ignore": "src/tests/*.js",
  "env": {
    "development": {
      "sourceMaps": "inline"
    }
  }
}
